﻿@model OHVDecal.ViewModels.RequiredCheckbox
@{
    ViewData["Title"] = "DecalInformation";
}

<div class="text-center">
    <h1>Decal Information</h1>
</div>
<p></p>
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center">
        <h3>
            I understand that a non-resident OHV decal only allows me to operate my OHV on unimproved roads and trails and I do not intend for my OHV to be street legal.
        </h3>
    </div>
    <div class="col-md-3"></div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12 text-center">
        <h4>
            <a href="https://s3-us-west-2.amazonaws.com/azgfd-portal-wordpress-pantheon/wp-content/uploads/archive/OHVRequirements_LE.pdf">Understanding OHV Registration and Decal Requirements</a>
        </h4>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="text-center">
    <br />
    <a asp-controller="CustomerOrder" asp-action="CreateOrder" class="btn btn-dark" style="width:400px" role="button">Click To Agree and Continue</a>
</div>
