﻿@{
    ViewData["Title"] = "Home Page";
}
<div id="google_translate_element"></div>
<div class="text-center">
    <h1>&nbsp;</h1>
    <h1 class="display-4">Non-Resident OHV Decal Registration</h1>
</div>

<div class="text-center">
    <img src="~/Images/Logo.png" class="img-fluid" alt="Responsive image" style="width:25%" />
</div>

@*<div class="text-center">
        <br />
        <a asp-controller="CustomerOrder" asp-action="CreateOrder" class="btn btn-dark" style="width:400px" role="button">Click To Begin</a>
    </div>*@

<div class="text-center">
    <br />
    <a asp-controller="Home" asp-action="DecalInformation" class="btn btn-dark" style="width:400px" role="button">Click To Begin</a>
</div>

@*<div class="text-center">
        <br />
        <br />
        <p>Learn about <a href="https://s3.amazonaws.com/azgfd-portal-wordpress/PortalImages/files/OHV/atv_brochure.pdf">Non-Resident OHV Decal Registration</a>.</p>
    </div>*@
