﻿@model IEnumerable<OHVDecal.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthReconciliationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptureReconciliationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchantReferenceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchAgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocAgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthReconciliationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptureReconciliationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantReferenceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchAgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocAgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
