﻿@{
    ViewData["Title"] = "CreateOrder";
}

<div class="text-center">
    <h1>Create Order</h1>
    <h4>Select Number of Decals</h4>
    <h3>Decal Price $30 Each</h3>
</div>

<br />

<form asp-action="PayForOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <div class="input-group">
                <select class="form-control" id="NumberOfTags" name="NumberOfTags" style="width:100px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

            </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="text-center">
        <br />
        These decals are for <span class="font-weight-bold">non-resident</span> OHV machines only, and are not authorized for display on machines owned by Arizona residents.<br />
        One decal is required for each <span class="font-weight-bold">non-resident</span> OHV.<br />
        Decals are not transferable between machines.<br />
    </div>
    <br />
    <div class="text-center">
        <input type="submit" value="Submit" class="btn btn-dark" style="width:400px" role="button" />
    </div>
</form>


