﻿@{
    ViewData["Title"] = "Pay For Order";
}

<div class="text-center">
    <h1>&nbsp;</h1>
    <h1>Verify Order</h1>
    <h3>&nbsp;</h3>
    <h3>Number of Decals: @ViewBag.NumberOfTags</h3>
    <br />
    @{
        int totalPrice = Convert.ToInt32(ViewBag.NumberOfTags) * 30;
        string strPrice = "$" + totalPrice.ToString();
    }

    <h3>Total Price: @strPrice</h3>
    <br />
    <h3>All sales are final.</h3>
    <br />
    <h5>If this number is correct please click the pay button below.</h5>
    <h5>You will be taken to our secure payment site where you will enter your billing and shipping inforation.</h5>
    <h5>The email you receive will serve as your proof of purchase for 30 days until you receive your decals by US Mail.</h5>
</div>

@*@{
        IDictionary<string, string> parametersDisplay = new Dictionary<string, string>();
        parametersDisplay = ViewBag.parameters;
        foreach (var item in parametersDisplay)
        {
        <div>
            @item.Key = @item.Value
        </div>
        }
    }*@

<hr />
@using (Html.BeginForm(null, null, FormMethod.Post, new { @ACTION = $"{Model.PayAction}" })) 
{
    @*<form action="https://secureacceptance.cybersource.com/pay" method="post">*@
    @*<form action="https://testsecureacceptance.cybersource.com/pay" method="post">*@

        {

            IDictionary<string, string> parameters = new Dictionary<string, string>();
        parameters = ViewBag.parameters;
        foreach (var item in parameters)
        {
            <input type="hidden" id="@item.Key" name="@item.Key" value="@item.Value" />
        }

        <input type="hidden" id="signature" name="signature" value="@OHVDecal.Code.Security.Sign(parameters)" />
        }

        <div class="text-center">

            <p>
                <h3 class="text-danger">
                    Non-resident  OHV decals are licenses and as such are non-refundable.<br />
                    I agree that this purchase is non-refundable.
                    <input type="checkbox" id="requiredCheckbox" onclick="myFunction();" style=" width: 25px; height: 25px;" />
                </h3>
            </p>


            <input type="submit" name="btnSubmitPayment" class="btn btn-dark" id="btnSubmitPayment" value="Pay" style="width:400px" />

            @*<input type="submit" value="Pay" class="btn btn-dark" style="width:400px" />*@
        </div>
        <div class="text-center">
            <h3>Decals are valid one year from the date of purchase</h3>
        </div>
    @*</form>*@
}

<script>
    var btn = document.getElementById("btnSubmitPayment");
    var chk = document.getElementById("requiredCheckbox");
    window.onload = function () {
        btn.disabled = true;
        btn.className = "btn btn-danger"
        btn.value = "Click Checkbox to Agree"

        chk.checked = false;
    }
    function myFunction() {
        if (chk.checked == true) {
            btn.disabled = false;
            btn.className = "btn btn-success"
            btn.value = "Pay"
        }
        else {
            btn.disabled = true;
            btn.className = "btn btn-danger"
            btn.value = "Click Checkbox to Agree"
        }
    }
</script>
